{% macro primary(collection, url) %}
    {% set sections = collection | eleventyNavigation %}
    <ol class="space-y-2">
    {% for entry in sections %}
        {% if entry.url | isCurrentLang(url, entry) %}
            <li>
                <a href="{{ entry.url | url }}"
                    class="{{ "text-turquoise" if entry.url == url else "text-white" }} hover:text-turquoise transition-colors duration-200 flex items-center space-x-2" 
                    {% if entry.url == url %}aria-current{% endif %}
                >
                    {% svg entry.key, entry.title, "w-5 h-5" %}
                    <span class="text-sm font-mono leading-5">{{ entry.title }}</span>    
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ol> 
{% endmacro %}

{% macro secondary(collection, url) %}
    {% set pages = collection | eleventyNavigation %}
    {% set uniqueSections = pages | getUniqueSections %}
    <ol class="space-y-8">
    {% for entry in uniqueSections %}
        <li>
            <h3 class="text-xs font-bold uppercase tracking-widest leading-tight mb-2">
            {% if entry.url %}
                <a href="{{ entry.url | url }}"
                    class="underline {{ "text-turquoise" if entry.url == url else "text-white" }} hover:text-turquoise transition-colors duration-200 flex justify-between space-x-2"
                    {% if entry.url == url %}aria-current{% endif %}
                    {% if 'http' in child.url %}
                        target="_blank"
                        rel="noopener nofollow"
                    {% endif %}
                >
                    <span>{{ entry.title }}</span>
                    {% if 'http' in child.url %}
                        {% svg 'external-link', child.title, "w-4 h-4 text-green" %}
                    {% endif %}
                </a>
            {% else %}
                {{ entry.title }}
            {% endif %}
            </h3>
            {% if entry.children %}
            <ol class="text-sm font-mono space-y-3 leading-tight">
            {% for child in entry.children %}
                {% if child.url | isCurrentLang(url, child) %}
                    <li>
                    {% if not child.permalink and not child.url %}
                        <span class="text-gray-400">{{ child.title }}</span>
                    {% else %}
                        <a href="{{ child.url | url }}"
                            class="{{ "text-turquoise" if child.url == url else "text-white" }} hover:text-turquoise transition-colors duration-200 group flex justify-between space-x-2"
                            {% if child.url == url %} aria-current{% endif %}
                            {% if 'http' in child.url %}
                                target="_blank"
                                rel="noopener nofollow"
                            {% endif %}
                        >
                            <span>{{ child.title }}</span>
                            {% if 'http' in child.url %}
                                {% svg 'external-link', child.title, "w-4 h-4 text-green group-hover:text-turquoise transition duration-200" %}
                            {% endif %}
                        </a>                     
                    {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            </ol>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endmacro %}

{% macro releases(url) %}
<div 
    x-data="{ 
        releases: [], 
        loading: true 
    }" 
    x-init="
        fetch('{{ url }}')
            .then(response => response.json())
            .then(data => releases = data)
            .finally(() => {
                loading = false
            })
    "
>
    <template x-if="loading">
        <p>Loading releases&hellip;</p>
    </template>
    <ol class="space-y-4">    
        <template x-for="(release, index) in releases" :key="index">
            <li>
                <details class="space-y-4">
                    <summary class="inline-block outline-none cursor-pointer">
                        <span class="sr-only">Release:</span>
                        <span class="text-xl lg:text-2xl" x-text="release.tag_name"></span>
                        <time class="block font-mono text-sm leading-tight" x-bind:dateTime="release.published_at" x-text="new Date(release.published_at).toDateString()"></time>
                    </summary>
                    <dl class="p-4 bg-gray-900 text-white rounded overflow-scroll">
                        <div class="flex space-x-2">
                            <dt class="font-bold flex-shrink-0">Release Date:</dt>
                            <dd class="flex-grow">
                                <time x-bind:dateTime="release.published_at" x-text="new Date(release.published_at).toDateString()"></time>
                            </dd>
                        </div>
                        <dt class="font-bold">Notes:</dt>
                        <dd class="prose prose-sm max-w-none" x-html="markdown.render(release.body)"></dd>
                    </dl>
                </details>
            </li>
        </template>
    </ol>
</div>
{% endmacro %}