<header>
  <a href="/"><img src="/assets/logo.svg" width="225" alt="MapRoulette"/></a>
  <div class="right">
    <div id="docsearch"></div>
    {% if page.variants.size > 1 %}
      <details class="language-picker">
        <summary>{{ page.variants.size }} languages</summary>
        <ul>
        {% for variant in page.variants %}
          {% assign code = variant[0] %}
          {% assign permalink = variant[1] %}
          <li><a href="{{ permalink }}">{{ site.data.language_names[code] | default: code }}</a></li>
        {% endfor %}
          <li><a href="/en-us/documentation/translate-docs/">+ add language</a></li>
        </ul>
      </details>
    {% else %}
      <a href="/en-us/documentation/translate-docs/">Help translate!</a>
    {% endif %}
    </div>
  </div>
</header>
