---
layout: base
title: Error 404
eleventyExcludeFromCollections: true
---

Page not found.

<script>
    function redirectToPage() {
        var selectBox = document.getElementById("languages");
        var redirect = selectBox.options[selectBox.selectedIndex].value;
        window.location.href = redirect;
    }

    function redirectToValidURL() {
        var currentURL = window.location.pathname;
        var segments = currentURL.split("/");
        var firstParent = segments[1];

        if (firstParent === "screencasts" || firstParent === "documentation") {
            var newURL = window.location.origin + "/en-us" + currentURL;
            window.location.href = newURL;
        }
    }

    window.onload = redirectToValidURL;
</script>
