---
layout: base
title: Error 404
eleventyExcludeFromCollections: true
---

Page not found.

<script>
    function redirectToPage() {
        var selectBox = document.getElementById("languages");
        var redirect = selectBox.options[selectBox.selectedIndex].value;
        window.location.href = redirect;
    }

    function isValidURL(url) {
        var regex = /^\/\w+\/(?:documentation|screencasts)\/?$/;
        return regex.test(url) || url === "/" || url === "/releases/";
    }

    function redirectToValidURL() {
        var currentURL = window.location.pathname;

        if (!isValidURL(currentURL)) {
            var newURL = window.location.origin + "/en-us" + currentURL;
            window.location.href = newURL;
        }
    }

    window.onload = redirectToValidURL;
</script>
