{% import "macros/lists.njk" as listMacros %}

<!DOCTYPE html>
<html lang="{{ meta.lang }}" class="bg-blue antialiased leading-tight">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if seo.title %}
            {{ seo.title }} 
        {% else %} 
            {{ title }} | {{ meta.title }}
        {% endif %}
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto:300,400,500,700&amp;display=swap">
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">   
    {% include "meta.njk" %}
</head>
<body class="text-white leading-normal bg-gradient-r-green-blue">
    <div hidden>{% svgsprite %}</div>
    <a href="#content" class="sr-only">skip to main content</a>
    <div role="document" class="min-h-screen flex flex-col">
        {% include "header.njk" %}
        <div class="px-4 mb-auto">
            <div class="max-w-screen-xl mx-auto flex lg:space-x-8">
                <div class="flex-shrink-0 relative hidden pt-4 pb-12 lg:block lg:w-1/4">
                    <div class="sticky top-8 space-y-8">
                        {% block sidebar %}
                            <nav aria-label="Primary">
                                {{ listMacros.primary(collections.section, page.url) }} 
                            </nav>           
                            {% set section = page.url | ltrim('/') | split | first %}
                            {% if collections[section] %}
                                <nav aria-label="Secondary" class="pl-7">
                                    {{ listMacros.secondary(collections[section], page.url) }}
                                </nav>
                            {% endif %}                                
                        {% endblock %}
                    </div>
                </div>
                <main id="content" class="flex-grow" tabindex="-1">
                    <div class="mb-12">
                        <header class="mb-8">
                            <h1 class="text-4xl md:text-5xl font-light text-yellow leading-none font-display">{{ headline or title }}</h1>
                        </header>
                        {% block main %}
                            <div class="prose max-w-none">
                                {{ content | safe }}
                            </div>
                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
        {% include "footer.njk" %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.1"></script>
    <script src="{{ '/assets/main.js' | url }}" defer></script> 
    <!-- LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
</body>
</html>