{% extends "./base.njk" %}

{% block main %}
    <div class="prose max-w-none">
        {{ content | safe }}
    </div>
    {% set section = page.url | ltrim('/') | split | first %}
    {% if collections[section] %}
        <div class="rounded shadow-lg bg-black-90 p-6 mt-8">
            {{ listMacros.secondary(collections[section], page.url) }}
        </div>
    {% endif %}
{% endblock %}
